body{
    background-color: #4B4B4B;
}
.paper-center{
    position: relative;
    left: 50%;
}
.paper{
    position: absolute;
    left: -490px;
    width: 892px;
    height: 1386px;
    padding: 0 44px;
    background-color: #ffffff;
}
.head{
    position: relative;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #938e8c;
    height: 61px;
}
.head-logo{
    position: relative;
    height: 61px;
    width: 110px;
    background-color: #d45d5c;
}
.head-logo span{
    position: relative;
    top: 42px;
    left: 5px;
    font-size: 12px;
    color: #ffffff;
    font-family: "SimHei", "STHeiti";
}
.head-time{
    float: right;
    position: relative;
    top: 44px;
    color: #d45d5c;
    font-size: 12px;
    font-family: "SimHei", "STHeiti";
}
.content-img{
    margin-top: 30px;
    height: 301px;
}
.content-big-img{
    position: relative;
    display: inline-block;
    width: 641px;
    height: 301px;
}
.content-big-img-right{
    position: absolute;
    right: 0px;
    width: 191px;
    height: 301px;
    background: transparent;
    background-color: #FF0000;
    opacity: 0.3;
}
.content-big-img-left{
    position: absolute;
    left: 0px;
    width: 191px;
    height: 301px;
    background: transparent;
    background-color: #66CC33;
    opacity: 0.3;
}
.content-big-img-img{
    width: 641px;
    height: 301px;
}
.content-img-text{
    display: inline-block;
    margin-left: 43px;
    width: 203px;
    height: 301px;
    border-top-color: #cc8091;
    border-top-style: solid;
    border-top-width: 2px;
}
.content-img-text-about{
    font-size: 24px;
    color: #000000;
    font-family: "Microsoft YaHei","Apple LiGothic Medium";
}
.content-img-text-about p{
    margin: 0 0;
    line-height: 40px;
    text-decoration: underline;
}
.content-img-text-about p:first-letter{
    font-size: 36px;
}
.content-img-text-about-small{
    font-size: 12px;
    color: #676767;
    font-family: "STKaiti" , "  KaiTi";
    line-height: 10px;
}
.content-img-big-text{
    font-size: 116px;
    color: #75b86b;
    font-family: "Microsoft YaHei" , "Apple LiGothic Medium";
    text-decoration: underline;
    font-style: italic;
}
.content-img-text-foot-big{
    display: inline-block;
    font-size: 55px;
    color: #cc8091;
    font-family: "Microsoft YaHei" , "Apple LiGothic Medium";
}
.content-img-text-foot{
    display: inline-block;
}
.content-img-text-foot-middle{
    font-size: 21px;
    color: #cc8091;
    font-family: "Microsoft YaHei" , "Apple LiGothic Medium";
}
.content-img-text-foot-small{
    font-size: 12px;
    color: #cc8091;
    font-family: "Microsoft YaHei" , "Apple LiGothic Medium";
}
.content-news{
    margin-top: 30px;
    width: 641px;
    height: 301px;
}
.content-news-what{
    display: inline-block;
    width: 35%;
    margin-right: 2%;
}
.content-news-what-title{
    margin-bottom: 10px;
    font-size: 16px;
    color: #418c59;
    font-family: "Microsoft YaHei" , "Apple LiGothic Medium";
    font-weight: bold;
    text-decoration: underline;
}
.content-news-what-content{
    font-size: 12px;
    color: #767777;
    font-family: "STSong", "SimSun";
    line-height: 16px;
    opacity: 0.7;
}
.content-news-when{
    display: inline-block;
    width: 35%;
    margin-right: 2%;
}
.content-news-when-title{
    margin-bottom: 10px;
    font-size: 16px;
    color: #d2994f;
    font-family: "Microsoft YaHei" , "Apple LiGothic Medium";
    font-weight: bold;
    text-decoration: underline;
}
.content-news-when-content{
    font-size: 12px;
    color: #231815;
    font-family: "STSong", "SimSun";
    line-height: 16px;
    opacity: 0.7;
}
.content-news-how{
    position: relative;
    bottom: -1px;
    height: 100%;
    width: 24%;
    display: inline-block;
}
.content-news-how-title{
    margin-bottom: 10px;
    font-size: 16px;
    color: #cc7680;
    font-family: "Microsoft YaHei" , "Apple LiGothic Medium";
    font-weight: bold;
    text-decoration: underline;
}
.content-news-how-content{
    font-size: 12px;
    color: #231815;
    font-family: "STSong", "SimSun";
    line-height: 16px;
    opacity: 0.7;
}
.content-news-how-content-list p{
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 ;
}
.content-news-how-content span{
    font-size: 12px;
    font-family: "Microsoft YaHei" , "Apple LiGothic Medium";
    font-style: italic;
    opacity: 0.7;
    color: #cd4a48;
}
.content-article-first{
    width: 415px;
}
.content-article-first-title-first-word{
    font-size: 72px;
    color: #f5e327;
    font-family: "SimHei" ,"STHeiti";
    font-weight: bold;
    font-style: italic;
}
.content-article-first-title-other-word{
    font-size: 42px;
    color: #11456b;
    font-family: "SimHei" ,"STHeiti";
    font-weight: bold;
    line-height: 16px;
}
.content-article-first-title-cn-word{
    font-size: 33px;
    color: #11456b;
    font-family: "SimHei" ,"STHeiti";
    font-weight: bold;
}
.content-article-first-hr{
    width: 415px;
    height: 2px;
    background-color: #11456b;
    color: #11456b;
    border-color: #11456b;
}
.content-article-first-content-img{
    
}