body,div{
    padding: 20px;
}
.team-logo{
    float: left;
    width: 160px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #999;
}
.team-logo img{
    float: left;
    width: 80px;
    height: 80px;
    overflow: visible;
}
.panel {
    position: relative;
    background-color: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #999;
    overflow: auto;
}
.personal-logo{
    float: right;
    width: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: #999;
    background-color: #fff;
}
.personal-logo img{
    width: 80px;
    height: 80px;
}
.personal-logo img{
    margin-top: 20px;
}
.personal-logo-img-begin{
    margin-top: 0px !important;
}
.team-summary{
    position: relative;
    margin-left: 220px;
    margin-right: 140px;
    width: auto;
    background-color: #fff;
    border-style: solid;
    border-color: #999;
    border-width: 1px;
}